nav
	width 100%
	height 60px
	background-color #fff
	// altura del banner con posiciomn absoliuta
	margin-bottom 300px	
	position relative
	
	
	ul 
		vertical-align middle
		display flex
		justify-content flex-end
		line-height 60px
		width 100%
		text-align center
		li 
			margin-left 1em
			margin-right 0.5em
			list-style none
			a
				text-decoration  none
				color texto-accent
		h4
			position absolute
			left 0
@media screen and (max-width: 500px)
	nav
		height 90px
		margin-bottom 300px
		ul 
			justify-content center
			li 
				line-height 120px
				margin-bottom 0.5em
			h4 
				width 100%
				
				
				
				